.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

body {
  background-color: #eee;
}