span {
    font-weight: 400;
  }
  
.runLog__card {
    font-size: 2rem;
    width: 100%;
    margin: 1rem auto;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px #999;
    box-shadow: 0 3px 6px #999;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    line-height: 2.6rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
.runLog__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  
.runLog__right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .run__info {
    font-size: 2.5rem;
    margin-right: 2rem;
  }

.run__stats {
      display: flex;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .type__run {
    font-weight: bold;
    text-align: left;
  }
  
  .date__run {
    font-weight: bold;
    text-align: left;
  }
  
  .card__notes {
    font-weight: bold;
  }
  
  .runLog__comments {
    text-align: left;
  }
  
  .runLog-btn {
    font-size: 2.3rem;
    padding: 12px 0;
    width: 95%;
    color: white;
    background-color: #0122d2;
    border: none;
    text-decoration: none;
  }

@media screen and (max-width: 580px) {
    .runLog__card {
        font-size: 1.6rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .runLog__left-stats {
      display: flex;
      align-self: center;
    }
    .runLog__right {
      padding: 2rem;
    }
    .run__stats {
        flex-direction: column;
        margin: 1rem;

    }
  }
  